{{#section 'js'}}
  <script src='../../static/js/forgotPassword.js'></script>
{{/section}}


      <form id="report-form" method="post"  action="http://localhost:4000/test">
          <div class="mb-3">
            <label for="method" class="form-label" id="requiredMethod">Hình thức báo cáo</label>
                <select id="method" class="form-control" name="method">
                  <option value="0">Chọn hình thức báo cáo</option>
                  <option value="1">Tố giác sai phạm</option>
                  <option value="2">Đăng ký nội dung</option>
                  <option value="3">Đóng góp ý kiến</option>
                  <option value="4">Giải đáp thắc mắc</option>
                </select>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label" id="requiredName">Họ tên người gửi báo cáo</label>
            <input type="name" id="name" name="name" class="form-control" placeholder="Nguyễn Văn A" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label" id="requiredEmail">Email</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="name@example.com" required>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label" id="requiredPhone">Điện thoại liên lạc</label>
            <input type="phone" id="phone" class="form-control" name="phone" placeholder="0945.xxx.xxx" required>
          </div>
          <div class="mb-3">
            <label for="content" class="form-label" id="requiredContent" name="content">Nội dung báo cáo</label>
            <div id="editor"></div>
          </div>
          <div class="mb-3">
              <label for="formFile" class="form-label" name="file" id="requiredFile">Hình ảnh minh hoạ</label>
              <input class="form-control" type="file" id="formFile" multiple required accept="image/jpg, image/jpeg, image/png" name="files">
          </div>
          <!-- <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div> -->
          <button type="submit" class="btn btn-primary" id="submit">Gửi báo cáo</button>
      </form>