

<table id="licenseTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Điểm đặt quảng cáo
      </th>
      <th class="th-sm">Công ty
      </th>
      <th class="th-sm">Nội dung quảng cáo
      </th>
      <th class="th-sm">Tình trạng
      </th>
      <th class="th-sm">Salary
      </th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
  
</table>